
body { margin: 0; }

.header-wrapper { background: #004455; }
.masthead { width: 720px; margin: 0 auto; padding: 40px 20px 30px 20px; }
.masthead .slogan { float: right; margin-top: 43px; font-family: 'Roboto', Arial, serif; font-weight: 100; color: #fff; font-size: 23px; text-transform: uppercase; }

.body-wrapper { background: #fff; clear: both; }
.body { width: 720px; margin: 0 auto; padding: 5px 20px; text-align: center; }
.body h1 { font-family: 'Roboto Condensed', Arial, serif; font-weight: 300; color: #ffa72a; font-size: 62px; text-transform: uppercase; }
.body p { font-family: 'Roboto', Arial, serif; font-weight: 400; color: #004455; font-size: 21px; line-height: 200%;  }
.body a.thumbnail img { opacity: 0.6; }
.body a.thumbnail:hover img { opacity: 0.4; }

.summit-wrapper { background: #37abc8; }
.summit { width: 720px; margin: 0 auto; padding: 1px 20px 40px 20px; text-align: center; }
.summit h2 { font-family: 'Roboto', Arial, serif; font-weight: 400; color: #fff; font-size: 21px; line-height: 170%; margin: 35px 0 10px 0; }
.summit h2 a { background: #777; color: #fff; text-decoration: none; padding: 2px 5px;}
.summit h2 a:hover { background: #aaa;}
.summit hr { opacity: 0; margin: 0}

.hire-wrapper { background: #ffa72a; }
.hire { width: 720px; margin: 0 auto; padding: 1px 20px 40px 20px; text-align: center; }
.hire h2 { font-family: 'Roboto Condensed', Arial, serif; font-weight: 400; color: #fff; font-size: 52px; line-height: 52px; text-transform: uppercase; margin: 30px 0 50px 0; }
.hire .btn {  -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
							display: inline; width: 100px; padding: 20px 25px; background: #777; color: #fff; font-family: 'Roboto Condensed', Arial, serif; font-weight: 400; color: #fff; font-size: 32px; line-height: 30px; text-transform: uppercase; text-decoration: none;   }
.hire .btn:hover { background: #aaa; }

.footer-wrapper { background: #fff; }
.mastfoot { width: 720px; margin: 0 auto; padding: 20px; text-align: center; font-family: 'Roboto', Arial, serif; font-weight: 400; color: #37abc8; font-size: 15px; line-height: 200%;}


.careers .body { width: 720px; margin: 0 auto; padding: 15px 20px; text-align: left; }
.careers .body h1, h2, h3 { font-family: 'Roboto', Arial, serif; font-weight: 500; color: #004455; font-size: 21px; line-height: 140%; text-transform: none; }
.careers .body p, ul { font-family: 'Roboto', Arial, serif; font-weight: 400; color: #004455; font-size: 21px; line-height: 140%;  }
.careers .body h2 { font-size: 27px; }

.careers .body .btn {  -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
							display: inline; width: 100px; padding: 20px 25px; background: #777; color: #fff; font-family: 'Roboto', Arial, serif; font-weight: 400; color: #fff; font-size: 22px; line-height: 24px; text-transform: none; text-decoration: none;   }
.careers .body .btn:hover { background: #aaa; }
.social-thumbnail { text-decoration: blink; }