
body { background: #003140; font-family: 'Roboto Condensed', Helvetica, Arial, sans; font-weight: 400; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header { background: rgba(0,49,64,0.85); position: fixed; top: 0; width: 100%; z-index: 999; }

#intro-1 { background: #3ba9c4; margin-top: 4.2em; }
#intro-2 { background: #f3a536;  }
#intro-3 { background: #fff; }

#intro-products, #intro-services, #intro-about, #intro-career, #intro-contact, #intro-login { background: #3ba9c4; margin-top: 4.2em; }
#products, #services, #about-sel, #about-team, #about-careers, #about-events, #about-contact, #career, #login { background: #fff; }
#intro-products { padding-bottom: 1em; }

/* W ~960px */
.container { max-width: 60em; margin: 0 auto; }
.container:after { content: ""; display: table; clear: both; }

header .container { height: 4.2em; position: realative; }
#logo { margin: 1em 0 0 .95em; }
/* #mobile-menu { float: right; margin: 1em 1.1em 0 0; } */
#mobile-menu { position: absolute; top: 1em; right: 1.1em; }
#mobile-menu .btn-inv-bordered { padding: .4em .5em .2em .5em; }

[class*='col-'] { float: left; width: 100%; padding-left: 1em; padding-right: .8em; }
/* .col-txt :last-child { margin-bottom: 1em; } */
.col-img { display: none; }

.btn, .btn-bordered, .btn-inv, .btn-inv-bordered {
	display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: .5em 1em;
  margin-bottom: 1em;
 	background: #fff;
	color: #003140 !important;
/*  text-shadow: rgba(0,0,0,.2) 0 .1em .1em; */
}
[class*='btn-']:after { content: ""; }

.btn-bordered { border: 1px solid  #003140; }
.btn-inv-bordered { background: #003140; color: #fff !important; border: 1px solid  #fff; }
.btn-sel-row .btn-inv-bordered { border: 1px solid  #003140; }
.btn-inv { background: #003140; color: #fff !important; }

.btn:active { background: #ccc; }
.btn-inv:active { background: #002130; }
.btn-left { margin-right: .8em; }
.btn-right { margin-left: .8em; }

.btn-frm-aside { padding: .15em .7em; font-weight: 700; }

.btn-row { margin-top: 1.3em; font-size: 1em; }
.btn-sel-row { font-size: 1.05em; text-align: center; max-width: 100%; margin-bottom: 0; }
.btn-sel-row .btn-inv-bordered, .btn-sel-row .btn-bordered { margin-left: -1px; padding: .5em .6em; } 

h1, h2 { font-size: 1.9em; line-height: 120%; color: #fff; margin: .7em 0 .5em 0; font-weight: 300; text-transform: uppercase; max-width: 13em; }
h1 { padding-top: .6em; margin-left: .5em; }
#products h2 { padding-top: .8em; margin-left: .63em; margin-top: 0; font-size: 1.7em; font-weight: 400; text-transform: none; color: #f3a536;  }
#products h2 span { font-weight: 700; text-transform: uppercase; color: #3ba9c4; }

p, li { font-size: 1.1em; line-height: 170%; color: #fff; margin: 0 0 1em 0; max-width: 24em;  }
p.footnote { font-size: .85em; line-height: 170%; margin-top: 0; margin-bottom: 1em; max-width: 35em; }
p img { max-width: 100%; }
#intro-3 h2, #intro-3 p, #products p, #services p, #about-careers p, #career p, #career li, #about-contact p, #login p, .modal-panel p { color: #003140; }
#services h2 { font-size: 1.8em; font-weight: 300; color: #f3a536; }
li { margin: 0 0 .3em -1em; list-style-type: square; }
#about-careers p.footnote, #login p.footnote { margin-top: 2em; color: #508190; }

.empha-block { border: 1px solid #f3a536; padding: .8em 1em; }
.empha-block strong { display: block; color: #3ba9c4; font-size: 1.1em; } 

#about-sel { padding: 1.7em 0 0 0; }

#about-team { padding: .5em .4em; } 
#about-team .container { text-align: center; vertical-align: bottom; }
.member-card { float: left; position: relative; width: 11em; height: 13.2em; margin: .5em .4em; overflow-x: hidden; background: #f3a536; color: #fff; }
.member-card .mugshot { height: 5em; overflow: hidden; }
.member-card .mugshot img { width: 100%; position: relative; top: -3.5em; }
.member-card .data { padding: .5em .6em; text-align: left; }
.member-card h3 { margin: 0 0 .2em 0; font-size: 1.7em; font-weight: 300; text-transform: uppercase; line-height: 100%; }
.member-card h4 { margin: 0 0 .3em 0; font-size: 1em; font-weight: 400; line-height: 100%; }
.member-card h5 { margin: 0 0 .1em 0; font-size: .8em; font-weight: 300; line-height: 100%; }
.member-card a { position: absolute; bottom: .2em; right: .4em; }

#about-careers { padding-top: .7em; }
#about-careers h3 { margin: .2em 0 .5em 0; font-size: 1.8em; font-weight: 300; text-transform: uppercase; color: #f3a536; }
p a { text-decoration: none; color: #003140; }
/* p a:hover { background: #003140; color: #fff; } */
p a:visited { color: #508190; }
p a:after { content: " »"; }
p br { margin: 0 !important; }

#intro-career h1 a { text-decoration: none; color: #fff; }
#intro-career h1 a:before { content: "« "; }
#career h2, #about-contact h2, #login h2 { font-size: 1.8em; font-weight: 300; text-transform: uppercase; color: #f3a536; }
#career h3, #about-contact h3 { margin: .8em 0 .5em 0; font-size: 1.4em; font-weight: 700; color: #3ba9c4;  }

#about-events { padding: .5em .5em; } 
.event-card { float: left; position: relative; width: 17em; height: 18em; margin: .5em .5em; overflow-x: hidden; background: #3ba9c4; color: #fff; }
.event-card .img { height: 4.5em; overflow: hidden; }
.event-card .img img { width: 100%; }
.event-card .data { padding: .5em .6em; text-align: left; }
.event-card h3 { margin: 0 0 .2em 0; font-size: 1.7em; font-weight: 300; text-transform: uppercase; line-height: 100%; }
.event-card h3 a { text-decoration: none; color: #fff; }
.event-card h3 a:after { content: " »"; }
.event-card h4 { margin: 0 0 .2em 0; font-size: .9em; font-weight: 400; line-height: 110%; }
.event-card h5 { margin: 0 0 .4em 0; font-size: 1em; font-weight: 300; line-height: 110%; }
.event-card p { margin:  0 0 .1em 0; font-size: 1em; font-weight: 300; line-height: 120%; }

#map { margin-top: 1.3em; overflow:hidden; }
#map, #map-canvas, #gmap_canvas { height:13em; width:100%; }

form {  }
input[type="email"], input[type="password"], input[type="text"], input[type="tel"], textarea  {
	width: 70%; 
	margin: .1em 0 0 !important; 
	padding: .3em; 
	font-family: 'Roboto Condensed', Helvetica, Arial, sans; font-weight: 300; font-size: 1.1em; 
	border: 1px solid #003140;
	color: #003140; 
}
input[type="checkbox"] { margin: 0 .5em 0 0 !important; }
form .btn-row { font-size: 1.1em; margin-top: .1em; }
form .btn-row .btn-inv { width: 70%; }
form .error input { border: 1px solid #f00; }
form .error span { float: right; width: 27%; font-size: .8em; line-height: 110%; color: #f00; }

footer { background: #003140; }
footer .col-img { padding-top: .6em; width: 30%; display: block; }
footer .col-txt { padding-top: 1em; width: 68%; text-align: right; }
footer p { font-size: .8em; line-height: 150%; color: rgba(255,255,255,0.9)  }
footer p a { font-size: .8em; color: rgba(255,255,255,0.9)  }
footer p a:after { content: "»"; }
footer .btn-inv { color: rgba(255,255,255,0.9) !important; padding: .4em 1.2em .6em 0; margin: 0; }

/* #logo-footer { margin: 1em 0 .5em .95em; } */

#modal-panel-forgot { display: none; }
/* Overlay */
#simplemodal-overlay { background-color: #000; }
/* Container */
#simplemodal-container { height: 25em; width: 90%; max-width: 35em; color: #003140; background-color: #fff; padding: 1.5em 2em; }
#simplemodal-container a.modalCloseImg {background:url(../img/btn-modal-close.png) no-repeat; background-size: 100%; width: 2em; height: 2em; display:inline; z-index:999; position:absolute; top:0; right:0; cursor:pointer;}
@media	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 15/10),
	only screen and (min-resolution: 144dpi) {
#simplemodal-container a.modalCloseImg {background-image:url(../img/btn-modal-close@2x.png);} }

/* ............................................... W >50em ~800vp ..................................................... */
@media (min-width: 50em) {
/*	header { position: initial; } */
	header .container { height: 6em; position: relative; }
	header .container #logo { margin: 1.9em 0 0 1em; }
	#mobile-menu { display: none; }
	#menu { display: block; }
	#intro-1, #intro-products, #intro-services, #intro-about, #intro-career, #intro-contact, #intro-login { margin-top: 6em; }
	#intro-1, #intro-2, #intro-3, #products, #services { padding-bottom: 1em; }
	[class*='col-'] { width: 50%; padding-left: 1em; padding-right: 2em; }
/*	.col-txt :last-child { margin-bottom: 2.3em; } */
	.col-img { display: block; padding-top: 2.7em; }
	.col-img img { width: 100%; }
	.col-txt a img.icn { width: auto; margin: 0 .3em -1px 0 !important; vertical-align: baseline; }
	h2 { font-size: 2.3em; margin: 1em 0 .5em 0; }
	h1 { font-size: 2.3em; margin: 0 0 .5em .4em; padding-top: 1em; }
	.container h1:last-child, .container article:last-child { margin-bottom: 1em; }
	#career h2 { font-size: 2.3em; }
	#products h2 { padding-top: 2em; margin-left: .5em; margin-top: 0; font-size: 2em; font-weight: 400; text-transform: none; color: #f3a536;  }
	#products h2:first-child { padding-top: .8em; }
	#career h2 { font-size: 2em; }
	p, li { font-family: 'Roboto', Helvetica, Arial, sans; font-size: 1em; line-height: 180%; color: #fff; margin: 0 0 1em 0; max-width: 33em; }
	li { margin: 0 0 .3em -1em; }
	p.btn-row { margin-top: 2em; font-size: .95em; }
	.btn-sel-row .btn-inv-bordered, .btn-sel-row .btn-bordered { margin-left: -1px; padding: .5em .8em; min-width: 8em; }
	.event-card { margin: .7em; height: 19em; } 
	.event-card .data { padding: .7em .8em; }
	.event-card p { font-size: .95em; font-weight: 300; line-height: 130%; }
	#map, #map-canvas, #gmap_canvas { height:17em; } 
	form .btn-row { margin-top: .3em; }
	input[type="email"], input[type="password"], input[type="text"], input[type="tel"], textarea
		{ margin: .3em 0 .1em !important; padding: .5em; font-family: 'Roboto', Helvetica, Arial, sans; font-weight: 300; font-size: 1.1em; }
	footer p { font-size: .8em; max-width: 100%; }
	footer p a { font-size: .9em; }
/*	#logo-footer { margin: 2em 0 1.7em 1.1em; } */
}